html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


/* Header */
.header {
	padding: 40px;
}

.nav-pills li a {
  color: #d8192f;
  border: 1px solid;
  margin-top: 15px;
  margin-right: 15px;
  width: 100px;
  
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1) !important;
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff;
}


/* Jumbotron */
.jumbotron {
  height: 500px;
  background: url("../img/Chickendinner.jpg") center center no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  margin-left: 0px;
}


/* Banner */
.banner, .supporting {
  text-align: center;
  padding-top: 40px;
}

.banner {
  background-color:#36343f;
  height:180px; 
  color: #fff;
}

.section .btn {
  background-color: rgba(216,25,47,.5);
  border: 0px;
  margin-top: 24px;
  color: #fff;
}

.page-header {
  text-align: center;
}

.row ul {
  list-style-type: none;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.row h4 {
  color: rgba(216,25,47,1);
  text-align: center;
}

.footer {
  padding: 40px 0;
  background-color: #eeeeee;
  display: flex;
}

.footer a {
  color: rgba(216,25,47,1);
  text-align: center;
  display: block;
}

.footer .a-left {
  text-align: left;
  display: block;
}

.footer .a-right {
  text-align: right;
  display: block;
}


/* Media Queries */
@media (max-width: 768px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .nav {
    float: none;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }

  .footer .a-left {
  text-align: center;
  display: block;
}

.footer .a-right {
  text-align: center;
  display: block;
}
  }
}