html, body {
  margin: 0;
  padding: 0;
  background: url("../img/Guambeach.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

.header .row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header li {
  display: inline;
}


.btn {
  background: none;
  border: none;
  color: #f0ede2;
  min-width: 100px;
  font-size: 15px;
  padding: 10px 0;
}

.btn:hover {
  color: #ffffff;
  background: #85c5c3;
}

.header h1 {
  text-transform: Uppercase;
  padding: 10px 0 10px 0;
  color: #ffffff;
  margin-top: 0;
}

.header .active {
  color: #ffffff;
  background: #072154; 
}

.active:hover {
  background: #85c5c3;
}

.main .img-responsive {
  align-items: center;
  width:100%;
  margin: 0 auto;
}

.main img {
  width: 100%;
  height: auto;
  margin: 10px;
  max-width: 360px;
  object-fit: cover;
  border: solid 2px #fff;
}

.footer .row {
  margin: 50px 0 20px 0;
}

.footer li {
  display: inline;
  margin-right: 30px;
}

.footer ul {
  list-type: none;
}

